* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS styling for JSX elements in MatchGame class component  - Start */

.match-game-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* CSS styling for JSX elements in MatchGame class component  - End */

/* CSS styling for JSX elements in GameHeader component - Start */

.game-header-bg-container {
  background-color: #2c0e3a;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.game-brand-img {
  height: 2rem;
  width: 8rem;
}

.game-header-content-container,
.game-attribute-container {
  display: flex;
  align-items: center;
}

.game-attribute-name {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 550;
}

.game-attribute-img {
  height: 1rem;
  width: 1rem;
}

.game-attribute-container {
  margin-right: 1.2rem;
}

.game-attribute-name,
.game-attribute-img {
  margin-right: 0.5rem;
}

.game-attribute-value {
  color: #fec653;
  font-size: 1.2rem;
  font-weight: 550;
}

/* CSS styling for JSX elements in GameHeader component - End */

/* CSS styling for JSX elements in GameArea component - Start */

.game-area-bg-container {
  height: 80%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.game-area-match-image {
  width: 85%;
  height: 25%;
  margin: 0;
  padding: 0;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
}

.game-area-img-category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 2rem;
  width: 100%;
  height: 15%;
}

.thumbnail-images-list {
  width: 100%;
  height: 55%;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/* CSS styling for JSX elements in GameArea component - End */

/* CSS styling for JSX elements in ImageCategoryTab component - Start */

.game-area-img-category {
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.selected-img-category {
  color: #fec653;
  border-bottom: 0.2rem solid #fec653;
}

/* CSS styling for JSX elements in ImageCategoryTab component - End */

/* CSS styling for JSX elements in ThumbnailImage component - Start */

.thumbnail-image-item {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
}

.thumbnail-image-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background: inherit;
}

.thumbnail-image {
  height: 5rem;
  width: 5rem;
}

/* CSS styling for JSX elements in ThumbnailImage component - End */

/* CSS styling for JSX elements in ScoreCard component - Start */

.scorecard-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 3rem;
  width: 85vw;
  min-height: 88vh;
  max-height: 200vh;
  margin: 2rem;
  border-radius: 1rem;
}

.scorecard-trophy-image {
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 15rem;
  width: 22rem;
}

.score-header {
  font-size: 1.7rem;
  margin-top: 0;
  margin-bottom: 0;
}

.score-value {
  font-size: 3.2rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.score-header,
.score-value {
  font-weight: 550;
}

.play-again-button {
  border: none;
  outline: none;
  border-radius: 0.8rem;
  padding: 1rem 1.2rem;
  background-color: #cf60c8;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.score-header,
.score-value,
.play-again-button {
  color: #ffffff;
}

.game-reset-image {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

/* CSS styling for JSX elements in ScoreCard component - End */

@media (min-width: 768px) {
  /* CSS styling for JSX elements in GameHeader class component - Start */

  .game-header-bg-container {
    padding: 0rem 2rem;
    height: 10%;
  }

  .game-brand-img {
    height: 3rem;
    width: 12rem;
  }

  .game-attribute-container {
    margin-right: 1.5rem;
  }

  .game-attribute-name {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 550;
  }

  .game-attribute-img {
    height: 1.5rem;
    width: 1.5rem;
  }

  .game-attribute-value {
    font-size: 1.5rem;
  }
  /* CSS styling for JSX elements in GameHeader class component - End */

  /* CSS styling for JSX elements in GameArea class component - Start */

  .game-area-bg-container {
    width: 45%;
  }

  .game-area-match-image {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  /* CSS styling for JSX elements in GameArea class component - End */

  /* CSS styling for JSX elements in ImageCategoryTab component - Start */

  .game-area-img-category {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  /* CSS styling for JSX elements in ImageCategoryTab component - End */

  /* CSS styling for JSX elements in ThumbnailImage class component - Start */

  .thumbnail-image {
    height: 6rem;
    width: 6rem;
  }

  /* CSS styling for JSX elements in ThumbnailImage class component - End */

  /* CSS styling for JSX elements in ScoreCard component - Start */

  .scorecard-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
    background-size: cover;
    width: 42vw;
    min-height: 100vh;
    max-height: 200vh;
    margin: 4rem 2rem;
  }

  .scorecard-trophy-image {
    margin-top: 12rem;
    height: 20rem;
    width: 27rem;
  }

  .score-header {
    font-size: 1.7rem;
  }

  .score-value {
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }

  .play-again-button {
    border-radius: 0.8rem;
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
  }

  .game-reset-image {
    height: 1.7rem;
    width: 1.7rem;
    margin-right: 0.5rem;
  }

  /* CSS styling for JSX elements in ScoreCard component - End */
}
